:root{
    --res-head-title: #ff9614;
    --res-back-main: #f6f5f3;
    --res-light: #ffffff;
    --res-title-video: #4e3969;
    --res-lighter-title-video: #a3a7ab;
    --res-icon-facebook: #1a77f3;
    --res-icon-twitter: #009eff;
    --res-icon-instagram: #e176a9;
    --res-icon-pinterest: #e62628;
    --res-icon-youtube: #e62222;
    --res-back-footer: #7c69a4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

img{
    width: 100%;
}

/* #region column */
[class^="col"]
{
    padding: 0.65rem 0.5rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}


.col{
    width: auto;
    flex-basis: auto;
}

.col-1{
    width: calc(100%/12*1);
    
}

.col-2{
    width: calc(100% /12 * 2);
    
}

.col-3{
    width: calc(100%/12*3);
    
}

.col-4{
    width: calc(100%/12*4);
    
}

.col-5{
    width: calc(100%/12*5);
    
}

.col-6{
    width: calc(100%/12*6);
    
}

.col-7{
    width: calc(100%/12*7);
    
}

.col-8{
    width: calc(100%/12*8);
    
}

.col-9{
    width: calc(100%/12*9);
    
}

.col-10{
    width: calc(100%/12*10);
    
}

.col-11{
    width: calc(100%/12*11);
    
}

.col-12{
    width: calc(100%/12*12);
    
}

/* #endregion column */


/* #region header */
.head-container{
    font-family: 'Nerko One', cursive;
    h1{
        color: var(--res-head-title);
    }
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1rem 0;
}

/* #endregion header */

/* #region main */

.main-container{
    background-color: var(--res-back-main);
    padding: 1rem 1rem;
    
}

/* #region tiramisu video */
.subject-video{
    color: var(--res-lighter-title-video);
}


.title-video{
    padding: 0.4rem 0;
    padding-bottom: 1rem;
    color: var(--res-title-video);
    span{
        color: transparent;
    }
}

.card{
    margin-top: -0.3rem;
    padding: 2rem 1.5rem;
    background-color: var(--res-light);
    box-shadow: 3px 2px 10px var(--res-lighter-title-video);
    h3{
        padding-bottom: 1.5rem;
    }  
}

iframe{
    width: 100%;
}
/* #endregion tiramisu video */

/* #region social */
.social{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    button{
        background-color: var(--res-light);
        padding: 0.5rem 0.7rem;
        border-radius: 50px;
        border: none;
        box-shadow: 1px 3px 10px var(--res-lighter-title-video);
    }

    div{
        display: none;
    }

    img{
        display: none;
    }
}

.fa-facebook{
    color: var(--res-icon-facebook);
}

.fa-twitter{
    color: var(--res-icon-twitter);
}

.fa-instagram{
    color: var(--res-icon-instagram);
}

.fa-pinterest{
    color: var(--res-icon-pinterest);
}

.fa-youtube{
    color: var(--res-icon-youtube);
}
/* #endregion social */

/* #region presentation */

hr{
    margin-top: 1rem;
    width: 20%;
    border: 1px solid var(--res-head-title);
}

.p-tiramisù{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    p{
        padding: 1rem 0;
        line-height: 1.6rem;
    }

    img{
        padding-top: 1rem;
        width: 60%;
        
    }
}

/* #endregion presentation */




/* #endregion main */

/* #region footer */
.footer-container{ 

    text-align: center;
    padding: 1.5rem 2rem;
    background-color: var(--res-back-footer);
    color: var(--res-light);

    i{
        font-size: 90%;
    }
    p{
        padding-top: 1rem;
    }

    ul{
        padding-top: 1rem;
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        li{
          list-style: none;
          
          
          a{
            color: var(--res-light);
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
          }
        }
    }
}
/* #endregion footer */





/* #region responsive */
@media screen and (min-width: 576px){
    

    .social{
        display: flex;
        flex-wrap: wrap;

        button{
            background-color: var(--res-light);
            padding: 0.5rem 2.6rem;
            border-radius: 50px;
            border: none;
            box-shadow: 1px 3px 10px var(--res-lighter-title-video);
        }
    }

    .p-tiramisù{
        display: inline-block;
        img{
           float: left;
            width: 400px;
            padding-right: 1rem;
        }
    }
}


@media screen and (min-width: 768px){
    .main-container{
        padding: 2rem 3rem;       
    }
    
    .head-container{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
        
    }

    .title-video{
        font-size: 2.4rem;

        span{
            color: var(--res-title-video);
        }
    }

    .col-12{
        width: calc(100%/12*4);
        padding: 1rem 0.5rem;
    }

    .social{
        display: flex;
        flex-wrap: wrap;

        img{
            display: inline-block;
            padding: 1.5rem 0;
        }

        button{
            background-color: var(--res-light);
            padding: 0.5rem 3.1rem;
            border-radius: 50px;
            border: none;
            box-shadow: 1px 3px 10px var(--res-lighter-title-video);
        }
    }

    .p-tiramisù{
        display: inline-block;
        img{
           float: left;
            width: 400px;
            padding-right: 1rem;
        }
    }
}


@media screen and (min-width: 992px){
    .title-video{
        span{
            color: var(--res-title-video);
        }
    }

    .col-12{
        width: calc(100%/12*12);
        padding: 0.5rem;
    }

    .description{
        display: flex;
        align-items: center;
        width: 100%;
        margin: auto; 
        img{
            width: 60%;
            height: 275px; 
        }

        .card{
            width: 40%;
            height: 275px;
    
        }

    }

    
    .main-container{
        padding: 2rem 7rem;       
    }
    .social{

        button{
            padding: 0.5rem 2rem;
            border-radius: 50px;
            border: none;
            box-shadow: 1px 3px 10px var(--res-lighter-title-video);
        }

       div{
        display: inline-block;
        } 
    }
    
    .footer-container{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;

        .left{
            text-align: left;
        }
    }

}